<p style="color: green"><%= notice %></p>

<h1>Plants</h1>

<%= link_to "New plant", new_admin_plant_path %>

<div id="plant">
  <% @plants.each do |plant| %>

    <%= link_to [:admin, plant], class: 'plantCard' do %>
      <%= render plant %>

      <% end %>
  <% end %>
</div>

