<p style="color: green"><%= notice %></p>

<h1>Растения</h1>

<%= link_to "Новое растение", new_admin_plant_path, class: 'addButton' %>

<div id="plant" class="many">
  <% @plants.each do |plant| %>

    <%= link_to [:admin, plant], class: 'plantCard' do %>
      <%= render plant %>

      <% end %>
  <% end %>
</div>

