<p style="color: green"><%= notice %></p>

<h1>Комментарии</h1>




<div id="comments" class="many">
  <% @comments.each do |comment| %>
  
      <%= link_to [:admin, comment], class:"dec" do%>
      <%= render comment %>
    <% end %>
  <% end %>
</div>
