
<h1> Лента </h1>


<div>
<% @ideas.each do |idea| %>
  <%= link_to [:admin, idea], class: 'plantCard' do %>
    <%= render partial: 'admin/ideas/idea', locals: { idea: idea } %>
  <% end %>
<% end %>
</div>


<div>
<% @plants.each do |plant| %>
  <%= link_to [:admin, plant], class: 'plantCard' do %>
    <%= render partial: 'admin/plants/plantPreview', locals: { plant: plant } %>
  <% end %>
<% end %>
</div>
