<div class="S_BodyPadding ">
<div class="A_FeedSecondTitle A_Title">Сохранённые мысли</div>
  <div class="C_FeedIdeaCards">
    <%= render partial: 'ideas/ideaPreviewFeed', collection: @savedIdeas, as: :idea %>
  </div>
</div>