<div class="S_BodyPadding">
<div>
  <div class="A_ReturnButton">
    <%= image_tag "base/circle_arrow.svg", width: 1000, class: "Q_CircleArrow" %>
    <%= link_to "к растению", [:admin, @plant] %>
  </div>
  
     <%#= image_tag "base/circle_arrow.svg", width: 1000, class: "Q_CircleArrow" %>
    <%#= link_to "к растениям", admin_plants_path %>
   
</div>

<div class="M_TitleWrapper">
  <div class="A_Title">Редактирование растения</div>
</div>


<br>
<%= render "form", plant: @plant %>
</div>



