<div id="<%= dom_id post %>">



  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <img src="./assets/images/image_2.png" />
  

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

</div>
