.A_SubmitButton {
  background-color: var(--our-black);
  color: var(--white);
  padding: 20px 84px 20px 84px;
  border-radius: 14px;
}
.A_SubmitButtonLog {
  background-color: var(--our-black);
  color: var(--white);
  border-radius: 14px;
  padding: 10px 44px 10px 44px;
}
.A_ReturnButton {
  background-color: var(--return-button);
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: fit-content;
  gap: 6px;

  a {
    font-family: 'Atyp Text Regular', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    color: var(--our-black);
  }

  .Q_CircleArrow {
    width: 22px;
    height: 22px;
  }
}
.A_NewButton {
  padding: 30px 0px 0px 0px;
  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: var(--our-black);

    &:hover {
      opacity: 80%;
    }

    .A_RegularText {
      padding: 6px 0px 0px 0px;
    }

    .Q_Plus {
      width: 36px;
      height: 36px;
    }
  }
}
.A_NewPlantButton {
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  text-decoration: none;
}
.orange {
  color: var(--our-black);
  background-color: var(--plant-button);

  &:hover {
    background-color: var(--return-button);
  }
}
.grey {
  color: var(--white);
  background-color: var(--button-grey);

  &:hover {
    background-color: var(--button-grey-hover);
  }
}
.custom-button {
  border: none;
  background: none;
  padding: 0;
}
.links {
  text-decoration: none;
  color: var(--our-black);
  &:hover {
    opacity: 70%;
  }
}
.flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.A_FollowButton{
  background-color: var(--our-black);
  color: var(--white);
  padding: 16px 38px 16px 38px;
  border-radius: 14px;
  border: none;
}