.Q_Icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;

  &:hover {
    transform: rotate(45deg);
  }
}

.A_ProfileAvatar {
  width: 4.4vw;
  height: 4.4vw;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -1vh;

  .A_ProfileAvatarImg {
    width: 100%;
    height: 100%;
  }
}

.M_ProfileTitle {
  display: flex;
  flex-direction: row;

  .W_ProfileTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .Q_Edit {
    width: 24px;
    height: 24px;
  }
}
.C_ProfileCardsIdeas {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.83vw;
  padding: 0px 0px 30px 0px;
  .M_ProfileMyIdea {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
    overflow: hidden;
    border-radius: 14px;
    background-color: white;
    
  
    .Q_ProfileMyIdeaSave {
      top: 0;
      right: 0;
      padding: 14px;
      z-index: 1;
    }
    .W_ProfileMyIdea{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  
    .A_ProfileMyIdea {
      width: 11.98vw;
      color: var(--our-black);
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
    .A_ProfileMyIdeaCover {
      width: 13.75vw;
      height: 6.77vw;
      border-radius: 14px;
      object-fit: cover;
      background-size: cover;
      background-position: center;
    
    }
  }
  .M_ProfileIdeasPlus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.38vw;
    height: inherit;
    border-radius: 14px;
    background-color: white;

    &:hover {
      background-color: var(--input-grey-hover);
    }
  }
}

.Q_ProfileSave{
  width: 0.94vw;
}
.C_ProfileTags {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.M_ProfileInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 0px 30px 0px;

  .M_ProfileInfoBasic {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .A_ProfileInfoBasicAbout {
      width: 18vw;
    }
  }

  .M_ProfileInfoLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .C_ProfileInfoNumbers {
    display: flex;
    flex-direction: row;
    gap: 14px;

    .M_ProfileInfoNumbersBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 6px;
      background-color: #F7F7F7;
      border-radius: 14px;
      width: 6.98vw;
      height: 5.1vw;
    }
  }
}
.C_ProfileCards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.04vw;
  row-gap: 30px;
}
.M_ProfilePlantsBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
  .C_ProfilePlantShelfFilter {
    display: flex;
    flex-direction: row;

    .A_ProfilePlantsFilterElement {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 60px 0px 60px;
    }
    .Border {
      border-bottom: 2px solid var(--our-black);
    }
  }
}

.M_ProfileIdeasBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 72.4vw;
  padding: 0px 0px 20px 0px;

  .A_ProfileIdeasBlockMore {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    gap: 12px;
  }
}
