.A_Title {
  font-family: 'Panama', serif;
  font-weight: 300;
  font-size: 92px;
  text-decoration: none;
  text-transform: uppercase;
}
.M_TitleWrapper {
  padding: 56px 0px 0px 0px;
}
.A_SecondTitle {
  font-family: 'Atyp Display Regular', sans-serif;
  font-weight: 300;
  font-size: 36px;
}

.A_RegularText {
  font-family: 'Atyp Text Regular', sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.A_MediumText {
  font-family: 'Atyp Text Medium', sans-serif;
  font-size: 24px;
  white-space: pre-line;
}

.A_SmallRegularText {
  font-family: 'Atyp Text Regular', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.A_DescripMargin {
  padding: 12px 0px 0px 0px;
}
