<p style="color: green"><%= notice %></p>

<h1>Notes</h1>



<div id="notes">
  <% @notes.each do |note| %>
    <%= link_to [:admin, note], class: 'plantCard' do %>
      <%= render note %>
  <% end %>
  <% end %>
</div>


