body {
  /* padding: 0% 3.85%; */
  overflow-x: hidden;
  background-color: var(--white);
  color: var(--our-black);
}
.S_BodyPadding {
  padding: 0% 3.85%;
}

.plantCard {
  height: 100%;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 16px;
  margin: 20px;
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #f3f3f3;
}
