body {
  overflow-x: hidden;
  background-color: var(--body);
  color: var(--our-black);
  text-decoration: none;
}
.S_BodyPadding {
  padding: 0% 3.54%;
}

.plantCard {
  height: 100%;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 16px;
  margin: 20px;
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: #f3f3f3;
}
