:root {
  --white: #fafafa;
  --our-black: #303030;
  --menu-grey: #e5e5e5;
  --menu-hrey-hover: #d0d0d0;
  --input-grey: #efefef;
  --input-grey-hover: #e2e2e2;
  --return-button: #ffefd3;
  --plant-button: #ffe3b4;
  --light-beige: #fcf5ea;
  --button-grey: #707070;
  --button-grey-hover: #535353;
  --footer-background: linear-gradient(
    rgba(250, 250, 250, 1),
    rgba(251, 244, 233, 1) 12%
  );
  --main-background: linear-gradient(
      0deg,
      rgba(250, 250, 250, 0.2) 11.93%,
      rgba(181, 147, 79, 0.2) 17.53%,
      rgba(255, 255, 255, 0.2) 21.41%,
      rgba(255, 222, 166, 0.2) 31.76%,
      rgba(255, 222, 166, 0.2) 89.41%,
      rgba(251, 251, 251, 0.2) 94.45%
    ),
    #fafafa;
}
