*,
*::after,
*::before {
  box-sizing: border-box;
}

.O_Naming {
  /* width: 1356px; */
  height: 676px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin-top: 140px;
  margin-bottom: 66px;
}

.Q_PromoTitle {
  /* width: 1356px; */
  width: 80vw;
}

.W_Naming {
  margin: 0 auto;
}

.Q_Arrow {
  width: 98px;
  align-self: center;
}

.Q_FlowerImg {
  /* margin-top: -240px; */
  /* margin-left: -210px; */
  position: absolute;
  /* width: 900px; */
  width: 55%;
  top: 90%;
  left: 50%;
}

.M_NamingFirstBlock {
  /* background-color: blue; */
}

.Q_FlowerIcon,
.A_NamingAdd {
  font-family: '21CentCondensed-UltraLight', serif;
}

.M_NamingSecondBlock {
  display: flex;
  flex-direction: column;
  /* background-color: pink; */
}

.W_NamingAdd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.A_NamingMain {
  font-size: 472px;
  font-family: '21CentCondensed-UltraLight', serif;
  /* background-color: green; */
}

.O_FirstBlock {
  display: flex;
  flex-direction: row;
  /* background-color: aquamarine; */
  /* width: 1356px; */
}

.W_FirstBlock {
  /* width: 1040px; */
  height: 838px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.A_TitleSecond {
  font-family: '21CentCondensed-UltraLight', serif;
  font-size: 58px;
  align-self: flex-end;
}

.M_TextBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 34px;
  font-family: '20 Kopeek Book', sans-serif;
  font-weight: 200;
  line-height: 100%;
  font-size: 50px;
  /* height: 404px; */
  width: 790px;
  border-radius: 14px;
  background-color: #b7dcbb;
}

.C_CardAction {
  /* width: 100%; */
  width: 1040px;
  display: flex;
  justify-content: space-between;
}

.M_CardAction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 324px;
  height: 364px;
  padding: 38px 30px;
  background-color: #e8e8e8;
  border-radius: 14px;
}

.A_CardText {
  font-size: 26px;
  font-family: '20 Kopeek Book', sans-serif;
  font-weight: 200;
  line-height: 104%;
  align-self: flex-ends;
}

.Q_Action {
  align-self: center;
  width: 204px;
  display: block;
}

.O_SecondBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 1356px; */
  position: relative;
  margin-top: 200px;
}

.Q_Mobile {
  margin: 0 auto;
  align-self: center;
}

.M_CardPlantExample {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  width: 324px;
  height: 364px;
  padding: 38px 50px;
  background-color: #ffd76f;
  border-radius: 14px;
  position: absolute;
  top: 164px;
}

.M_CardSproutExample {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 324px;
  height: 364px;
  padding: 28px 52px 28px 28px;
  background-color: #b7dcbb;
  border-radius: 14px;
  position: absolute;
  right: 0;
  top: 164px;
}

.W_CardExampleDescription {
  align-self: flex-end;
}

.Q_PlantExample {
  width: 160px;
  position: absolute;
  top: -200px;
  right: 80px;
}

.A_CardTitle {
  font-family: '21CentCondensed-UltraLight', serif;
  font-size: 58px;
  text-align: center;
}

.A_CardText {
  font-size: 26px;
  text-align: center;
}

.W_CardExampleTags {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.A_ExampleTag {
  display: inline-block;
  font-family: '20 Kopeek Book', sans-serif;
  font-weight: 200;
  font-size: 26px;
  padding: 2px 10px;
  border-radius: 30px;
  border: 1px #222222 solid;
}

/* .O_Footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 510px;
  background-color: #ffd76f;
  border-radius: 14px;
  margin-top: 180px;
  padding: 24px 46px;
} */

.W_Form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 218px;
  /* width: 1042px; */
}

.A_FooterTitle {
  font-family: '21CentCondensed-UltraLight', serif;
  font-size: 82px;
}

.A_FooterSupTitle {
  font-family: '20 Kopeek', sans-serif;
  font-weight: 400;
  font-size: 26px;
}

.A_FooterNames {
  font-family: '20 Kopeek Book', sans-serif;
  font-weight: 200;
  font-size: 24px;
}

.A_FooterSupText {
  font-family: '20 Kopeek Book', sans-serif;
  font-weight: 200;
  font-size: 24px;
  align-self: flex-end;
}

.sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-between;
  width: 62%;
}

.subButton {
  border: 1px solid #222222;
  background-color: transparent;
  position: relative;
  border-radius: 14px;
  padding-left: 7%;
  padding-right: 7%;
  font-size: 24px;
}
.nesubButton {
  font-size: 24px;
  padding-left: 2%;
}
