<p style="color: green"><%= notice %></p>

<h1>Подписки</h1>
<%= link_to "Создать подписку", new_admin_subscription_path, class:"addButton" %>
<div id="subscriptions">
  <% @subscriptions.each do |subscription| %>
    
    
      <%= link_to [:admin, subscription], class:"dec" do %>
      <%= render subscription %>
  <% end %>
  <% end %>
</div>


