<div class="A_DropMenuSection"><%= link_to "профиль", profile_path(current_user.profile) %></div>
<div class="A_DropMenuSection"><%= link_to "сохранённые идеи", welcome_savedIdeas_url %></div>
<div class="A_DropMenuSection"><%= link_to "поддержка", welcome_savedIdeas_url %> </div>
<div class="A_DropMenuSection"><%= link_to "выйти", destroy_user_session_path, method: :delete %></div>
