<% if swap.swap_image.present? %>
  <%= image_tag swap.swap_image.url, class: "M_SwapCardImg" %>
<% else %>
  <div></div>
<% end %>

  <div class="A_CardNamePadding A_AverageMediumText ">
    <%= swap.title %>
  </div>
